<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd">

    <context:component-scan base-package="ro.codecamp.ebp.feature3" />
    <context:annotation-config />
        
    <!-- Local Beans -->
    <bean id="registeredModuleImpl" class="ro.codecamp.ebp.feature3.services.RegisteredModuleImpl" />
    <bean id="manufacturerServiceImpl" class="ro.codecamp.ebp.feature3.services.ManufacturerServiceImpl" />
        
    <!-- Export Services -->
    <osgi:service id="registeredModuleImplSvc" ref="registeredModuleImpl" 
                  interface="ro.codecamp.ebp.core.api.modules.RegisteredModule" />
    <osgi:service id="manufacturerServiceImplSvc" ref="manufacturerServiceImpl" 
                  interface="ro.codecamp.ebp.core.api.manufacturers.ManufacturerService" />
    
    <!-- Import Services -->
    <osgi:reference id="moduleRegistryService" interface="ro.codecamp.ebp.core.api.modules.ModuleRegistryService" />
    <osgi:reference id="productService" interface="ro.codecamp.ebp.core.api.products.ProductService" />
    <osgi:reference id="entityManagerFactoryBuilder" 
                    interface="org.osgi.service.jpa.EntityManagerFactoryBuilder"
                    filter="(osgi.unit.name=Feature3PU)" />
    
</beans>
