* { padding:0px; margin:0px; font-family:sans-serif; }

body { background-color: #e2e2e2; text-align:center; margin:10px; padding-top:10px; }

.CoreModuleNav { background-color: #006699; border:solid 1px black; 
                 border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
                 padding:3px; margin:10px; text-align:center; }
.FeatureModuleNav { width:150px; height:30px; background-color: #2099d5; text-align:center;
                    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
                    border:solid 1px black; margin:10px; padding:5px; }

.ModuleContentWrapper { text-align:center; margin:auto; width:800px; }
.ModuleContent { width:100%; height:500px; background-color: #006699; text-align:left;
                 border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
                 border:solid 1px black; margin:10px; padding:5px; }
.ModuleContentColumn { vertical-align:top; text-align:left; width:100%; }
.ModuleContentColumn1 { vertical-align:top; text-align:left; width:20%; }
.ModuleContentColumn2 { vertical-align:top; text-align:left; width:80%; }

a:link, a:visited { color:white; text-decoration:none; 
          border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
          padding:3px; border:solid 1px transparent; }
a:hover { color:black; text-decoration:none; background-color:white; padding:2px;
          border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
          padding:3px; border:solid 1px black; }

.VersionText { color:white; font-size:x-small; text-align:right; }