/CoreApplication/nbproject/private/
/CoreApplication/build/
/CoreApplication/dist/
/Feature1/nbproject/private/
/Feature1/build/
/CoreAPI/nbproject/private/
/CoreAPI/dist/
/CoreAPI/build/
/Feature1/dist/