/CoreApplication/nbproject/private/
/CoreApplication/build/
/CoreApplication/dist/
/Feature1/nbproject/private/
/Feature1/build/
/CoreAPI/nbproject/private/
/CoreAPI/dist/
/CoreAPI/build/
/Feature1/dist/
/Feature2/nbproject/private/
/Feature2/build/
/Feature2/dist/
/CoreUI/nbproject/private/
/CoreUI/build/
/CoreUI/dist/
/Feature3/nbproject/private/
/Feature3/dist/
/Feature3/build/
/CoreFeature/nbproject/private/
/CustomerFeature/nbproject/private/
/ProductFeature/nbproject/private/
/ManufacturerFeature/nbproject/private/
/CoreFeature/build/
/CoreFeature/dist/
/CustomerFeature/build/
/CustomerFeature/dist/
/ManufacturerFeature/dist/
/ManufacturerFeature/build/
/ProductFeature/build/
/ProductFeature/dist/