* { padding:0px; margin:0px; font-family:sans-serif; }

body { background-color: #e2e2e2; text-align:center; margin:auto; padding-top:50px; }

.CoreModule { background-color: #006699; border:solid 1px black; 
              border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
              padding:20px; margin:auto; }
.FeatureModule { width:300px; height:40px; background-color: #2099d5; 
                 border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
                 border:solid 1px black; margin:20px; padding:20px; }

.CoreModule a:link,.CoreModule a:visited { color:white; text-decoration:none; 
          border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
          padding:3px; border:solid 1px transparent; }
.CoreModule a:hover { color:black; text-decoration:none; background-color:white; padding:2px;
          border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
          padding:3px; border:solid 1px black; }

.FeatureModule a:link,.FeatureModule a:visited { color:white; text-decoration:none; padding:3px;
        border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
        border:solid 1px transparent;}
.FeatureModule a:hover { color:black; text-decoration:none; background-color:white; padding:3px;
        border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;                                           
        border:solid 1px black; }

.VersionText { color:white; font-size:x-small; text-align:right; }