<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd">

    <context:component-scan base-package="ro.codecamp.ebp.feature1" />
    <context:annotation-config />
        
    <!-- Local Beans -->
    <bean id="registerModuleHookImpl" class="ro.codecamp.ebp.feature1.services.RegisterModuleHookImpl" />
        
    <!-- Export Services -->
    <osgi:service id="registerModuleHookImplSvc" ref="registerModuleHookImpl" 
                  interface="ro.codecamp.ebp.core.api.modules.RegisterModuleHook" />
    
    <!-- Import Services -->
    <osgi:reference id="registerCoreModuleHook" interface="ro.codecamp.ebp.core.api.modules.RegisterCoreModuleHook" />
    
</beans>
