<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint
                           http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd">

    <context:component-scan base-package="ro.codecamp.ebp.features.customer" />
    <context:annotation-config />
                
    <!-- Import Services -->
    <osgi:reference id="featureRegistryService" availability="mandatory"
                    interface="ro.codecamp.ebp.core.api.features.FeatureRegistryService" />
    <osgi:reference id="productService" availability="optional" timeout="0"
                    interface="ro.codecamp.ebp.core.api.services.products.ProductService" />
    <osgi:reference id="entityManagerFactoryBuilder" availability="mandatory" 
                    interface="org.osgi.service.jpa.EntityManagerFactoryBuilder"
                    filter="(osgi.unit.name=CustomerFeaturePU)" />
    
    <!-- Local Beans -->
    <bean id="customerFeature" class="ro.codecamp.ebp.features.customer.CustomerFeature" />
    <bean id="customerServiceImpl" class="ro.codecamp.ebp.features.customer.services.CustomerServiceImpl" />
            
    <!-- Export Services -->
    <osgi:service id="customerFeatureSvc" ref="customerFeature" 
                  interface="ro.codecamp.ebp.core.api.features.RegistryAwareFeature" />
    <osgi:service id="customerServiceImplSvc" ref="customerServiceImpl" 
                  interface="ro.codecamp.ebp.core.api.services.customers.CustomerService" />
    
</beans>
