<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ProductFeaturePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/sample</jta-data-source>
    <class>ro.codecamp.ebp.features.product.entitites.Customer</class>
    <class>ro.codecamp.ebp.features.product.entitites.PurchaseOrder</class>
    <class>ro.codecamp.ebp.features.product.entitites.ProductCode</class>
    <class>ro.codecamp.ebp.features.product.entitites.MicroMarket</class>
    <class>ro.codecamp.ebp.features.product.entitites.Manufacturer</class>
    <class>ro.codecamp.ebp.features.product.entitites.DiscountCode</class>
    <class>ro.codecamp.ebp.features.product.entitites.Product</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
